@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script src="/js/temp.js"></script>

<body>
    <div class="container">
        <br>
        <h1>Dashboard</h1>

        <div class="row">
            <img src="images/s1.png" id="image" width="100%" height="100%" alt="Brew System">
        </div>
        <div class="row">
            <p id="prompt">Where Prompt will Show</p>
        </div>
        <div class="row">
            <div class="col-md-3" style="background-color: #FF9999">
                <p>HLT</p>
                <p id="hlt">not reading HLT Temp</p>
            </div>
            <div class="col-md-3" style="background-color: #FF9900">
                <p>MLT</p>
                <p id="mlt">not reading MLT Temp</p>
            </div>
            <div class="col-md-3" style="background-color: #FF99FF">
                <p>BK</p>
                <p id="bk">not reading BK Temp</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div id="buttondiv" class="col-md-1">
                <button type="button" id="on_off" onclick="toggle()">Start</button>
            </div>
        </div>
    </div>
</body>


